html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --iris: rgba(77, 90, 229, 1); /* IRIS*/
  --ocean: rgba(64, 75, 191, 1); /*OCEAN*/
  --navy-blue: rgba(46, 47, 66, 1);
  --green: rgba(49, 208, 170, 1);
  --slate: rgba(67, 68, 85, 1);
  --light-slate: rgba(142, 143, 153, 1);
  --cornflower: rgba(231, 233, 252, 1);
  --cloud: rgba(244, 244, 253, 1);
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: rgba(255, 255, 255, 1);
  --background-site-color: #e5e5e5;

  --card-set-gap: 24px;
  --card-set-gap-top: 48px;

  /*
    
    */
}
body {
  background-color: var(--white);
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
}

/* Colors of project*/
/* logo1  #4D5AE5 */
/*logo2  nav section_title   #2E2F42*/
/* contacts text #434455*/
/*nav bg  #E7E9FC*/
/* background E5E5E5 */
.list {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .section-hidden {
    display: none;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 428px;
  /* width: 100vw; */
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*------------ HEADER---------- */
.header-section {
  border-bottom: 1px solid var(--cornflower);
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .header-section {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-section {
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    align-items: baseline;
  }
}
.logo-web {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
}

.logo-studio {
  color: var(--navy-blue);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav .link {
  position: relative;
  overflow: visible;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--iris);
}

.site-nav .link.current::after {
  content: '';
  display: inline-block;
  overflow: visible;
  width: 100%;
  height: 4px;
  border: 1px solid var(--iris);
  border-radius: 2px;
  background-color: var(--iris);
  position: absolute;
  bottom: -31px;
  left: 0;
}
@media screen and (min-width: 1200px) {
  .site-nav .link.current::after {
    bottom: -31px;
  }
}

.contacts {
  color: var(--navy-blue);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: var(--iris);
}
@media screen and (min-width: 768px) {
  .contacts {
    font-size: 12px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-bottom: 0px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .link-container {
    min-width: 261px;
    display: flex;
    justify-content: space-between;
    margin-left: 76px;
  }
}
.adress-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .adress-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .adress-container {
    flex-direction: row;
    align-items: center;
  }
}

.mail-container {
  margin-right: 0px;
  flex-basis: auto;
}
@media screen and (min-width: 768px) {
  .mail-container {
    font-size: 12px;
    line-height: 1.33;
    margin-right: 40px;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-container {
    margin-right: 40px;
    margin-bottom: 0px;
  }
}
.tel-container {
  flex-basis: auto;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .tel-container {
    flex-basis: auto;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.33;
  }
}

/*------------------Hero--------------------------*/

.hero-background {
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 428px;
  height: 432px;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7) 100%
    ),
    url('../images/Hero-bg-mobile-min.jpg'), url('../images/Dark-bg.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7) 100%
      ),
      url('../images/Hero-bg-mobile-2x.jpg'),
      url('../images/Dark-bg-mobile.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero-background {
    padding-top: 111px;
    padding-bottom: 108px;
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7) 100%
      ),
      url('../images/hero-tablet.jpg'), url('../images/Dark-bg-tablet.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7) 100%
        ),
        url('../images/Hero-bg-tablet-2x.jpg'),
        url('../images/Dark-bg-tablet.jpg');
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero-background {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7) 100%
      ),
      url('../images/hero-back.jpg'), url('../images/Dark-bg.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7) 100%
        ),
        url('../images/Hero-bg-2x.jpg'), url('../images/Dark-bg.jpg');
    }
  }
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 48px;
  color: var(--white);
  width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.hero-button {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
}

/*---------------Section----------------------*/

.section {
  padding-top: 96px;
  padding-bottom: 120px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
  }
}
.section-no-padding {
  padding-top: 0;
}

.section-color {
  background-color: var(--cloud);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.projects-container {
  flex-direction: column;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.projects-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  outline-offset: 1px solid var(--cornflower);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.feature-title {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-title {
    margin-top: 0;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .feature-title {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.feature-list p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .feature-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    flex-wrap: nowrap;
  }
}
.feature-list > .item:not(:last-child) {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .feature-list > .item {
    margin: 0;
    padding: 0;
    width: calc((100% - 56px) / 2);
  }
  .feature-list > .item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.feature-icon {
  width: 60px;
  height: 64px;
}

.feature-icon-area {
  display: none;
}
@media screen and (min-width: 1200px) {
  .feature-icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--cloud);
  }
}
/*------------ CARDS-------------*/

.cards-container {
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .cards-container {
    max-width: 582px;
  }
}
.cards-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .cards-list {
    margin: 0;
    flex-wrap: nowrap;
  }
}
.card-item {
  background-color: var(--white);
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.card-text {
  margin-top: 0;
  margin-bottom: 8;
  text-align: center;
  line-height: 1.5;
}

.card-icon-list {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}

.card-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--iris);
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-icon-link:hover,
.card-icon-link:focus {
  background-color: var(--ocean);
  outline: none;
}
.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and(min-width:1200px) {
  .section-customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}
.customers-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .customers-container {
    width: 552px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .customers-container {
    width: 1158px;
    flex-wrap: nowrap;
  }
}

.customers-list {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 16px;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
}
.customers-list-item {
  width: calc((100% - 16px) / 2);
}

@media screen and (min-width: 768px) {
  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list-item {
    width: 168px;
  }
}

.customers-icon-item {
  height: 88px;

  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--light-slate);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  box-shadow: none;
  overflow: hidden;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-item:hover,
.customers-icon-item:focus {
  fill: var(--ocean);
  border: 1px solid var(--ocean);
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*------------Footer-----------------*/
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--navy-blue);
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-left: 108px;
    align-items: start;
    flex-basis: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-left: 0;
  }
}
.footer-logo .text {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 16;
  margin-bottom: 0;
  color: var(--cornflower);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 268px;
  text-align: left;
}

.footer-logo-web {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  max-width: fit-content;
}

.footer-logo-studio {
  color: var(--cloud);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-container {
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: auto;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
  }
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 208px;
  height: 80px;
  margin: 72px auto;
}
@media screen and (min-width: 768px) {
  .social {
    margin: 0px 0px 0px 24px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin-left: 120px;
    justify-content: start;
  }
}
.social-list {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-top: 16px;
}

.social-text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-icon {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--green);
  outline: none;
}
.footer-form {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    margin-left: 108px;
    margin-top: 72px;
    width: 453px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 80px;
    margin-top: 0;
  }
}
.footer-form-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.02em;
}
.footer-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-submit {
    justify-content: space-between;
    align-items: flex-start;
  }
}
.e-button {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .e-button {
    flex-direction: row;
  }
}
.footer-label {
  height: 40px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: var(--navy-blue);
  color: var(--background-site-color);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-label {
    margin-bottom: 0px;
    width: 264px;
  }
}

.footer-button {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-button {
    margin-left: 24px;
  }
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--ocean);
}
/*-------------------- Portfolio----------------------*/

.section-portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}
.button-filter {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--cloud);
  color: var(--iris);
  font-family: Roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .button-filter {
    padding: 12px 24px;
  }
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
  color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

.header-portfolio {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container-btn {
  max-width: 270px;
  max-height: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 48px;
  column-gap: 24px;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .container-btn {
    max-width: 1200px;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    gap: 24px;
  }
}
.works-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--navy-blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.works-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.works-link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb {
  min-width: 288px;
  max-height: 280px;
}
@media screen and (min-width: 768px) {
  .thumb {
    width: 356px;
    max-height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .thumb {
    width: 360px;
  }
}
.thumb > img {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 0;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
@media screen and (min-width: 768px) {
  .works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .works-list {
    row-gap: 48px;
  }
}
.works-list > .item {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}
@media screen and (min-width: 768px) {
  .works-list > .item {
    flex-basis: calc(100% / 2 - 24px);
  }
}
@media screen and (min-width: 1200px) {
  .works-list > .item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}
.works-link:hover,
.works-link:focus {
  outline: none;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.works-link:hover .works-list-overlay,
.works-link:focus .works-list-overlay {
  transform: translateX(0);
}

.works-list-box {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .works-list-box {
    min-width: 356px;
    min-height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .works-list-box {
    min-width: 360px;
  }
}
.works-list-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--iris);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-list-text {
  margin: 0;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.card-content {
  border: 1px solid var(--cornflower);
  border-top: hidden;
  border-radius: 0px 0px 4px 4px;

  padding: 32px 16px;
}
/*-----------Form----------------*/
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: calc(100% - 36px);
  max-width: 392px;
  max-height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;

  translate: -50% -50%;

  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 500ms linear;
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    min-height: 280px;
  }
}
.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.4);
}
.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus,
.modal-btn:hover {
  background-color: var(--ocean);
  fill: var(--white);
  outline-color: var(--ocean);
}

.form {
  padding: 72px 16px 24px 16px;
}
@media screen and (min-width: 768px) {
  .form {
    padding: 72px 24px 24px 24px;
  }
}
.form-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.form-label {
  margin-bottom: 8px;
  display: flex;
  position: relative;
  border-radius: 4px;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.form-label:nth-child(5) {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  position: relative;
}
.form-label:nth-child(6) {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;
  display: inline-block;
  position: relative;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  padding-left: 38px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus,
.form-input:focus + .form-icon {
  outline-color: var(--ocean);
  fill: var(--iris);
}
.form-button {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
}
.form-span {
  margin: 0 0 4px 0;
  font-size: 12px;
  line-height: 1.5;
}
.form-div {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border-width: 2px;
  border-radius: 4px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.textarea:focus {
  outline-color: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.check-text {
  margin-left: 24px;
  margin-right: 6px;
  margin-bottom: 0;
}
.form-checkbox {
  width: 16px;
  height: 16px;
  position: absolute;
}
.check-box {
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;
  border: 1.25px solid var(--navy-blue);
  border-radius: 2px;
  fill: var(--cloud);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-div {
  position: relative;

  width: 100%;
}
.form-checkbox:focus + .check-box {
  outline: 1px solid var(--navy-blue);
}
.form-checkbox:checked + .check-box {
  background-color: var(--ocean);
  border-color: var(--ocean);
  outline: none;
}
/*-----------------Mobile menu-----------------------*/

.menu-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 40px;
  right: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 40px;
  background-color: var(--white);
  z-index: 10;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 72px 0px 0px 0px;

  list-style: none;
}

.mobile-menu .link {
  padding: 0;
  color: var(--navy-blue);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-menu .link.current {
  color: var(--iris);
}
.mobile-menu-item {
  margin-bottom: 40px;
}
.mobile-menu-item:last-child {
  margin-bottom: 0;
}

.menu-adress {
  margin-top: auto;
  margin-bottom: 48px;
  margin-left: 0;
}
.menu-adress-item:first-child {
  margin-bottom: 40px;
}

.menu-tel {
  color: var(--iris);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu-mail {
  color: var(--navy-blue);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu-icon-list {
  margin: 0;
  max-width: 428px;
}
